
  <div class="container">
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_vision_path(@vision.id) %>
        </li>
        <li>
          <%= link_to '削除', vision_path(@vision.id), data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>
    <p><%= @vision.text %></p>
    <span class="nickname"><%= @vision.user.nickname %>
    </span>
  </div>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@vision, @todaygoal], local: true) do |form| %>
        <%= form.text_area :object, placeholder: "目的", rows: "2" %>
        <%= form.text_area :plan,   placeholder: "計画", rows: "2" %>
        <%= form.text_area :action, placeholder: "行動", rows: "2" %>
        <%= form.submit "コミット" %>
      <% end %>
      <%=link_to 'Win', vision_win_path(@vision.id), class: "btn btn-dark" %>
      <%=link_to 'back', vision_back_path(@vision.id), class: "btn btn-dark" %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="todaygoals">
      <h4>＜目標一覧＞</h4>
      <% @todaygoals.each do |todaygoal| %>
        <p>
            日付：<%= todaygoal.created_at %><br>
            目的：<%= todaygoal.object %><br>
            計画：<%= todaygoal.plan %><br>
            行動：<%= todaygoal.action %>
        </p>
      <% end %>
    </div>
  </div>
