<!DOCTYPE html>
<html>
  <head>
    <title>AxisApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4 text-dark">AXIS</span>
      </a>

      <ul class="nav nav-pills">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "目標なし", destroy_user_session_path, data: { turbo_method: :delete }, class: "out nav-link active link-light" %></li>
          <li class="nav-item"><%= link_to "設定する", new_vision_path, class: "post nav-link active link-light mx-3" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "post nav-link active link-light" %></li>
          <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: "post nav-link active link-light mx-3" %></li>
        <% end %>
      </ul>
    </header>

    <%= yield %>
    <footer>
      <p>
        You can do it !
      </p>
    </footer>
  </body>
</html>
